## Core Django
Django>=6.0
django-environ>=0.11
whitenoise>=6.7

## REST Framework
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3
djangorestframework-camel-case>=1.4
drf-nested-routers>=0.93
django-cors-headers>=4.3
django-filter>=24.2
drf-spectacular>=0.27

## Database
psycopg2-binary>=2.9

## Celery
celery>=5.4
redis>=5.0
django-celery-beat>=2.6
django-celery-results>=2.5

## AI / OCR / NLP
pytesseract>=0.3
Pillow>=10.3
spacy>=3.7
openpyxl>=3.1
pandas>=2.2
pdfplumber>=0.11

## Utils
python-magic>=0.4
requests>=2.31
